body{
    display: flex;
    background-color: rgb(31, 31, 31);
    color: antiquewhite;
    justify-content: center;
}
html{
    background:inherit;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .container{
    height: 300px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
  }
  
  .square{
    height: 94%;
    width: 94%;
    background: #a7a69e;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -47% 0 0 -47%;
  }
  
  .black{ 
    background: rgb(43, 43, 43);  
    animation: rotate 20s infinite linear; 
  }
  
  @keyframes rotate{
    0%{ transform: rotate(0deg); }
      100%{ transform: rotate(360deg); }	
  }