html {
    background: #a7a69e;
    min-height: 100%;
  }
  
  body {
    min-height: 100%;
  }
  
  h1.loader {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-size: 4.6875em;
    color: transparent;
    letter-spacing: 0.01em;
    margin-top: 30%;

  }
  
  .loader span {
    text-shadow:
      0 0 2px #a7a69e,
      0 15px 25px rgba(0, 0, 0, 0.3),
      0 -2px 3px rgba(0, 0, 0, 0.1),
      0 -5px 10px rgba(255, 255, 255, 0.5),
      0 5px 10px rgba(0, 0, 0, 0.3),
      0 3px 4px rgba(255, 255, 255, 0.2),
      0 0 20px #a7a69e;
    
      animation: loading 0.85s ease-in-out infinite alternate;
  }
  
  @keyframes loading {
      to {text-shadow:
      0 0 2px rgba(204, 208, 212,0.2),
      0 0 3px rgba(0, 0, 0, 0.02),
      0 0 0 rgba(0, 0, 0, 0),
      0 0 0 rgba(255, 255, 255, 0),
      0 0 0 rgba(0, 0, 0, 0),
      0 0 0 rgba(255, 255, 255, 0),
      0 0 0 rgba(255, 255, 255, 0);}
  }
  
  .loader span:nth-child(2) {
    animation-delay:0.15s;
  }
  
  .loader span:nth-child(3) {
    animation-delay:0.30s;
  }
  
  .loader span:nth-child(4) {
    animation-delay:0.45s;
  }
  
  .loader span:nth-child(5) {
    animation-delay:0.60s;
  }
  
  .loader span:nth-child(6) {
    animation-delay:0.75s;
  }
  
  .loader span:nth-child(7) {
    animation-delay:0.90s;
  }
  /* HTML: <div class="loader"></div> */
.loaders {
  display: inline-flex;
  border: 1.5px solid #787770;
  border-radius: 5px;
  margin-top: 9.2%;
}
.loaders::before,
.loaders::after {
  content: "0 1 2 3 4 5 6 7 8 9 ✓";
  font-size: 30px;
  font-family: monospace;
  font-weight: bold;
  line-height: 1em;
  height: 1em;
  width: 1.2ch;
  text-align: center;
  outline:0px solid #0000009f;
  color: #0000;
  text-shadow:0 0 0 #00000096;
  overflow: hidden; 
  animation: l4 2s forwards linear;
}
.loaders::before {
  animation-duration: 1.2s;
}
@keyframes l4 {
  100% {text-shadow:0 var(--t,-10em) 0 #53524f}
}