body{
    background-color: #171716;
    margin:1%;
}

.top-box {
    display: flex;
    background-color: #a7a69e;
    width: 100%;
    height: 10vh;
    border-radius: 10px ;
}
 .mid{
        display: grid;
        grid-template-columns: repeat(10,1fr);
        grid-template-rows: repeat(6,100px);
        margin-top: 1%;
        column-gap: 1%;
        row-gap: 1.8%;
 }
.qoute-box{
    background-color: #a7a69e;
    border-radius: 10px;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1 ;
    grid-column-end: 5;
}
.flwr-pht{
    display: flex;
    justify-content: end;
    margin-top: 3%;
    margin-right: 3%;
    width: auto;
    height:auto;
}
.potrait{
    background-color: #a7a69e;
    border-radius: 10px;
    grid-row-start:1 ;
    grid-row-end: 5;
    grid-column-start: 5 ;
    grid-column-end: 8;
}
.cert{
    background-color: #a7a69e;
    border-radius: 10px;
    grid-row-start:1 ;
    grid-row-end: 6;
    grid-column-start: 8;
    grid-column-end: 11;
}
.self{
    background-color: #a7a69e;
    border-radius: 10px;
    grid-row-start:5 ;
    grid-row-end: 7;
    grid-column-start: 4;
    grid-column-end: 8;
}
.contact{
    background-color: #a7a69e;
    border-radius: 10px;
    grid-row-start:6;
    grid-row-end: 7;
    grid-column-start:8 ;
    grid-column-end:11 ;
}
.afeef {
    display: flex;
    border-radius: 10px;
    margin-left: 2%;
    width: auto;
    height: 9.7vh;
    justify-content: center;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}
.three{
    display: grid;
    width: auto;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 2%;
}
.projects{
    display: flex;
    width: auto;
    align-self: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about{
    display: flex;
    width: auto;
    align-self: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cnt{
    display: flex;
    width: auto;
    align-self: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.abt-me{
    background-color: #a7a69e;
    border-radius: 10px;
    grid-row-start:5 ;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 4;
}
