body{
    background-color: #171716;
    margin:1%;;
}

.top-box {
    display: flex;
    background-color: #a7a69e;
    width: 100%;
    height: 10vh;
    border-radius: 10px ;
    border: aqua solid 1px;
}

 .mid{
        display: grid;
        grid-template-columns: repeat(10,1fr);
        grid-template-rows: repeat(10,100px);
        margin-top: 1%;
        gap: 1% 1%;
 }
.qoute-box{
    background-color: #a7a69e;
    border-radius: 10px;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1 ;
    grid-column-end: 5;
}
.potrait{
    background-color: #a7a69e;
    border-radius: 10px;
    grid-row-start:1 ;
    grid-row-end: 5;
    grid-column-start: 5 ;
    grid-column-end: 8;
}
.cert{
    background-color: #a7a69e;
    border-radius: 10px;
    grid-row-start:1 ;
    grid-row-end: 6;
    grid-column-start: 8;
    grid-column-end: 11;
}



.afeef {
    display: flex;
    border-radius: 10px;
    width: 5%;
    height: 9.7vh;
    justify-content: center;
    align-items: center;
    font-family: "Playwrite DK Loopet",cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    margin-left: 10px;
}
.ahmed {
    display: flex;
    border-radius: 10px;
    height: 9.7vh;
    justify-content: center;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size:21px ;
}
.abt-me{
    background-color: #a7a69e;
    border-radius: 10px;
    grid-row-start:5 ;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 4;
}
.self{
    background-color: #a7a69e;
    border-radius: 10px;
    grid-row-start:5 ;
    grid-row-end: 7;
    grid-column-start: 4;
    grid-column-end: 8;
}
.contact{
    background-color: #a7a69e;
    border-radius: 10px;
    grid-row-start:6;
    grid-row-end: 7;
    grid-column-start:8 ;
    grid-column-end:11 ;
}